@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-primary-dark: #0284c7;
  --color-secondary: #10b981;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
